<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       
       h1{
  
          
            border-radius: 10px;
            color: rgba(19, 155, 240, 0.995);
          font-style: italic;
          font-size: 78px;
         
            padding: 22px;
            margin: 322px ;
       
        }
        h2{
            background-color: Pink;
        }
        b{
        
          background-color: rgb(128, 128, 128);
            color: antiquewhite;
            border: 2px solid green;
        }
    </style>
</head>
<body>
       
    <h1>  <b>D</b>
        Doctor
       Recommendation 
        <br> System
    </h1>

</body>
</html>