{% load static %}

<div class="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                CT
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                Creative Tim
            </a>
        </div>
        <ul class="nav">
            <li class="active dashboard">
                <a href="{% url 'patient-dashboard' %}">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Patient Dashboard</p>
                </a>
            </li>

            <li class="patient">
                <a class="nav-link" data-toggle="collapse" href="#pagesExample">
                    <i class="tim-icons icon-atom"></i>
                    <p> Patient
                        <b class="caret"></b>
                    </p>
                </a>
                </a>
                <div class="collapse" id="pagesExample">
                    <ul class="nav">

                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'patient-data' %}"
                               style="padding: 8px 48px !important;">
                                <i class="tim-icons icon-atom"></i>
                                <p>Patient Data</p>


                            </a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'appointment-data' %}"
                               style="padding: 8px 48px !important;">
                                <i class="tim-icons icon-atom"></i>
                                <p>Appointment Data</p>


                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'diagnosis-data' %}"
                               style="padding: 8px 48px !important;">
                                <i class="tim-icons icon-atom"></i>
                                <p>Diagnosis Data</p>


                            </a>
                        </li>

                    </ul>
                </div>
            </li>

        </ul>
    </div>
</div>